/* This is the main part */
body {
  border: aqua 15px;
  background-color: #000;
}

.head {
  width: flex;
  height: 70px;
  display: flex;
}
.filler {
  height: 250px;
  width: 155px;
  color: transparent;
}
.head_img {
  width: flex;
  height: 250px;
  float: top;
  flex: center;
}
.head-img-2 {
  width: flex;
  height: flex;
  color: rgba(0, 0, 0, 0.507)
}
/* This is the Navigation Bar */
.nav_bar {
  display: solid;
  height: 100px;
  background: transparent;
  margin: 40px;
  position: sticky;
  top: 0px;
}

#nav-item {
  border: none;
  background-color: rgba(147, 135, 125, 1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 50px;
}

a {
  color: pink;
}

/* This starts the sections for the Main Pg */
.section {
  height: 250px;
  background-color: #fff;
  margin: 5px 0px 5px 5px;
}

.article {
  height: 250px;
  background-color: #fff;
  margin: 5px 0px 5px 5px;
}

.aside {
  background-color: rgba(255, 255, 255, 1);
  width: 99%;
  /* background-color: #FFF; */
  margin: 5px 0px 5px 5px;
  float: right;
}
.Main-p {
  float: right;
  height: 150px;
  width:150px;
}

footer {
  background-color: #fff;
  margin: 5px 5px 5px 0px;
  clear: both;
}
/* To control the links */
/* a:link {
  background-color: transparent;
  color: red;
} */
/* For the stuff on the left */

/* The Headers and the paragraphs */
h1 {
  font-size: 15px;
  font-family: "Dancing Script" cursive;
  height: 40px;
}
/* Img's */
fa-discord {
  color: blue;
  font-size: 30px;
}
.Picture-pic {
  height: 200px;
}
/* Starting the About Page */
.about-info {
  display: flex;
  width: flex;
  background-color: #000;
}
.aboutP {
  background-color: #fff;
  height: 400px;
  width: 450px;
  margin: 0px 5px 5px 5px;
}

.music {
  background-color: #fff;
  width: 450px;
  height: 400px;
  margin: 0px 5px 5px 5px;
}

.pics {
  background-color: #fff;
  /* background-image: ; */
  height: 250px;
  width: 910px;
  margin: 0px 0px 0px 5px;
}

.pics-image {
  height: 150px;
  width: flex;
}
/* Starting the Contact page */
.Contact-Info {
  background-color: #fff;
  height: 400px;
}
.form {
  background-color: #fff;
  margin-top: 10px;
}
